name: CI

on: [push, pull_request]

jobs:
  test-node:
    strategy:
      matrix:
        platform: [ubuntu-latest]
        node: [14, 16, 18, 20, 'current']
    name: CI - Node ${{ matrix.node }} (${{ matrix.platform }})
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - name: Install npm latest
        run: npm i -g npm
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run test:node

  test-web:
    strategy:
      matrix:
        platform: [ubuntu-latest]
        node: [14, 16, 18, 20, 'current']
    name: CI - Node ${{ matrix.node }} (${{ matrix.platform }})
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - name: Install npm latest
        run: npm i -g npm
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run test:web
