name: CI

on: [push, pull_request]

jobs:
  test-node:
    strategy:
      matrix:
        platform: [ubuntu-latest]
        node: [12, 14, 16, 17]
    name: CI - Node ${{ matrix.node }} (${{ matrix.platform }})
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - name: Install npm latest
        run: npm i -g npm
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run test:node

  test-web:
    strategy:
      matrix:
        platform: [ubuntu-latest]
        node: [12, 14, 16, 17]
    name: CI - Node ${{ matrix.node }} (${{ matrix.platform }})
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - name: Install npm latest
        run: npm i -g npm
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run test:web
