name: "GitHub Pages"

on:
  push:
    branches: main

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages-${{ github.workflow }}-${{ github.ref_name }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: "Check out repository"
        uses: actions/checkout@v4

      - name: "Set up Node.js"
        uses: actions/setup-node@v3
        with:
          node-version: lts/*

      - name: "Setup GitHub Pages"
        uses: actions/configure-pages@v2

      - name: "Install dependencies"
        run: npm ci

      - name: "Build library"
        run: npm run build

      - name: "Build site"
        run: npm run build:docs

      - name: "Debug build output"
        run: ls -la ./build || { echo "Build directory is missing or empty!"; exit 1; }

      - name: "Verify build output"
        run: test -d ./build || { echo "Build directory not found!"; exit 1; }

      - name: "Upload build artifact"
        uses: actions/upload-pages-artifact@v3
        with:
          path: './build'

  deploy:
    runs-on: ubuntu-latest
    needs: build

    environment:
      name: "GitHub Pages"
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: "Deploy to GitHub Pages"
        id: deployment
        uses: actions/deploy-pages@v2